html
    head
        title Signup
    body    
        if(message) 
            h4 #{message}
        form(action="/Signup" method="POST")
            input(name="id" type="text" placeholder="Enter username" required)
            input(name="password" type="password" placeholder="Enter password" required)
            button(type="submit") Sign me up!
        a(href="/login") Login here